@page {
  size: legal;
  margin: 0.5cm;
}

body {
  font-family: Arial, sans-serif;
  font-size: 8px;
  line-height: 1.2;
  margin: 2rem 0;
  padding: 0;
  background-color:#ddd;
}

.signature {
  width: 100px;  /* Adjust this width as needed */
  height: auto;  /* Maintains the aspect ratio */
}


.form-container {
  width: 100%;
  max-width: 21cm;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 0px;
  box-sizing: border-box;
  background-color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 3px;
  text-align: left;
  vertical-align: top;
}

.header-section {
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.header-section img {
  width: 60px;
 
  margin-right: 10px;

  filter: grayscale(100%);
  opacity: 0.8;
}

.no-border {
  border: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

input[type="text"],
input[type="date"] {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 1px 2px;
  outline: none;
  box-sizing: border-box;
  font-size: 12px;
}

input[type="checkbox"] {
  margin-right: 3px;
}

.signature-section {
  margin-top: 10px;
}

.signature-section div {
  margin-bottom: 5px;
}

.signature-section table td {
  height: 25px;
  text-align: center;
  vertical-align: middle;
}

.approval-section {
  margin-top: 10px;
}

.approval-header {
  background-color: #333;
  color: white;
  padding: 2px;
  font-weight: bold;
  text-align: center;
}

.approval-column {
  flex: 1;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}

.approval-content {
  display: flex;
}

.signature-line {
  border-top: 1px solid black;
  margin: 20px 50px;
}

.finalapp {
  display: flex;
  justify-content: center;
  gap: 30px;
}

