@page {
    size: legal; 
    margin: 10px; 
}
body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.2;
    margin: 2rem 0;
    padding: 0;
    background-color:#ddd;
}

.form-container {
    width: 100%;
    max-width: 21cm;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 3px;
    text-align: left;
    vertical-align: top;
}

.header-section {
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.header-section img {
    width: 60px;
    margin-right: 10px;
}

.no-border {
    border: none;
}

#chart-container {
    margin-top: 20px;
}

.content {
    margin: 0 25px;
}


.month-selection {
width: 100%;
max-width: 21cm;
margin: 0 auto;
background-color: #fff;
margin-bottom: 1rem;
border-radius: 10px;
text-align: center; 
display: flex;
align-items: center;
gap: 10px;
}



.month-selection select {
font-size: 13px;
padding: 6px 10px;
width: 150px;
padding-left: 20px;
outline: none;
background: #FFFFFF;
color: #E62626;
border: 0px solid #000000;
border-radius: 5px;
box-shadow: 2px 1px 2px 1px #E2E2E2;
transition: .3s ease;
}


.month-selection select:focus {
background: #F2F2F2;
border: 1px solid #FFC900;
border-radius: 10px;
}


.month-selection select::placeholder {
color: #DDDDDD;
}

.month-selection{
justify-content: center;
margin-bottom: 20px;
}

.month-selection form {
display: flex;
gap: 10px;
}

/* Filter Button Styles */
.print-button {
background-color: #A2100E;
color: #fff;
text-decoration: none;
padding: 8px 15px;
margin: 20px 0;

border: none;
border-radius: 5px;
cursor: pointer;
font-size: 13px;
transition: background-color 0.3s ease;
}

.print-button :hover {
background-color: #7c100e;
}

@media print {
     .print-button, .month-selection label,
.month-selection select
{
        display: none;
    }

    .form-container {
        margin-top: -3rem;
    }
}



